<ui:AdminLayout Title="User edit">
    <ui:TemplateContent Name="Body">

        <ui:UserEdit html:Class="form-horizontal">
            <ui:TemplateContent Name="Buttons">
                <a form:href="Accounts.User.List" class="btn btn-primary">Back to user list</a>
            </ui:TemplateContent>
            <ui:TemplateContent Name="Title">
                <h1>Create user account</h1>
            </ui:TemplateContent>
        </ui:UserEdit>  
         
    </ui:TemplateContent>
    
</ui:AdminLayout>
             