<ui:Doctype />
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><ui:TemplatePlaceholder Name="Title" /> - TemplateEngine</title>

    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet" />

    <ui:TemplatePlaceholder Name="Head" />

</head>
<body>

    <div class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <a href="~/" class="brand">TemplateEngine</a>
                <ul class="nav">
                    <li>
                        <a href="#web">Web</a>
                    </li>
                </ul>
                <ul class="nav" style="float: right;">
                    <li>
                        <a href="~/Accounts/UserList.aspx">User accounts</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <ui:TemplatePlaceholder Name="Body" />
    </div>

</body>
</html>
