<ui:FormItem l:LabelText="Username">
    <ui:TextBox view:ID="Username" html:Class="input-xxlarge" />
</ui:FormItem>
<ui:FormItem l:LabelText="Password">
    <ui:PasswordBox view:ID="Password" html:Class="input-xxlarge" />
</ui:FormItem>
<ui:FormItem l:LabelText="Password again">
    <ui:PasswordBox view:ID="PasswordAgain" html:Class="input-xxlarge" />
</ui:FormItem>
<ui:FormItem>
    <ui:CheckBox view:ID="IsEnabled" l:LabelText="Is enabled" /> 
</ui:FormItem>

<ui:FormItem>
    <ui:HiddenBox view:ID="Key" />
    <ui:Button l:Text="Save" Name="Save" ui:Event="Save" />

    <ui:TemplatePlaceholder Name="Buttons" />
</ui:FormItem>