<ui:FormItem ui:IsPlaceHolder="Title">
    
</ui:FormItem>

<ui:FormItem l:LabelText="Username">
    <ui:TextBox view:ID="Username" html:Class="input-xxlarge" />
</ui:FormItem>
<ui:FormItem l:LabelText="Password">
    <ui:PasswordBox view:ID="Password" html:Class="input-xxlarge" />
</ui:FormItem>
<ui:FormItem l:LabelText="Password again">
    <ui:PasswordBox view:ID="PasswordAgain" html:Class="input-xxlarge" />
</ui:FormItem>
<ui:FormItem>
    <ui:CheckBox view:ID="IsEnabled" l:LabelText="Is enabled" />
</ui:FormItem>

<!-- Causes problem because of new level of template contents -->
<ui:SubHeader>
    <ui:TemplateContent Name="Left">
        <h2 ui:IsPlaceholder="Title">
            <ui:TemplatePlaceholder Name="Title" />
        </h2>
    </ui:TemplateContent>
    <ui:TemplateContent Name="Right">
        <ui:Button l:Text="Save" ui:Event="UserEdit-Save" html:Class="btn btn-small btn-primary" />
        <ui:TemplatePlaceholder Name="Buttons" />

        <a form:href="Accounts.User.List" class="btn btn-small">Back to user list</a>
    </ui:TemplateContent>
</ui:SubHeader>