.error-info {
    display: block;
    padding: 10px;
    color: white;
    background: red;
}

body {
    margin-top: 100px;
    background: #F5F5F5;
}

.navbar-main {
    min-height: 40px;
    padding: 0 15px;
    margin-bottom: 0;
    background: #205081;
    border-bottom-color: #2E3D54;
}

.navbar-main a, .navbar-main .nav > li > a {
    color: white;
    padding: 10px;
}

.navbar-main a.navbar-brand {
    padding: 9px 10px;
}

.navbar-main a:hover, .navbar-main a:focus, .navbar-main .nav > li > a:hover, .navbar-main .nav > li > a:focus {
    background: #296CA3;
}

.container {
    width: 940px !important;
}

.sub-header {
    position: fixed;
    height: 62px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-top: 40px;
    padding: 15px;
    background: #F5F5F5;
    border-bottom: 1px solid #cccccc;
}

.sub-header h2 {
    font-size: 24px;
    font-weight: normal;
    line-height: 35px;
    margin: 0;
    padding: 0 0 0 10px;
    color: #333333;
}

footer.navbar {
    padding: 15px;
    background: #F5F5F5;
    border-top: 1px solid #cccccc;
    border-radius: 0;
}


.body-container {
    width: 100%; 
    min-height: 200px;
    display: table; 
    table-layout: fixed; 
    background: white;
}

.side-navbar {
    width: 220px;
    padding: 10px 15px;
    display: table-cell;
    border-right: 1px solid #cccccc;
}

.side-navbar a {

}

.body {
    display: table-cell;
    vertical-align: top;
}


.sub-panel {
    padding: 8px 15px 8px 10px;
    background: #F5F5F5;
    border: 0px solid #cccccc;
    border-width: 0 0 1px 0;
}

.table {
    margin: 0;
}

.pagination {
    width: 100%;
    margin: 0;
    padding: 8px 15px 8px 10px;
    background: #F5F5F5;
    border-top: 1px solid #cccccc;
    border-radius: 0;
}


.message-list {
    padding: 8px 15px 8px 10px;
    margin: 0;
    list-style: none;
    background: #F5F5F5;
    border: 0px solid #cccccc;
    border-width: 0 0 1px 0;
}

.form-group .message-list {
    border-width: 0 1px 1px 1px;
}

.message-list li {
    padding: 2px 4px;
    margin: 0 0 1px 0;
    border: 1px solid;
}

/*li.message-info:before {
    font-family: "Glyphicons Halflings";
    content: "\e086";
}*/
li.message-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

li.message-warn {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

li.message-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #ebccd1;
}