<ui:AdminLayout Title="User list">
    <ui:TemplateContent Name="Body">
        
        <ui:SubHeader>
            <ui:TemplateContent Name="Left">
                <h2>User accounts</h2>
            </ui:TemplateContent>
            <ui:TemplateContent Name="Right">
                <a form:href="Accounts.User.Edit" class="btn btn-small btn-primary">Create user account</a>
                <a href="#" class="btn btn-small disabled">User roles</a>
                <a href="#" class="btn btn-small disabled">Permissions</a>
            </ui:TemplateContent>
        </ui:SubHeader>

        <ui:UserList>
            <Template>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Is enabled</th>
                        <th></th>
                    </tr>
                    <ui:TemplatePlaceHolder Name="Content" />
                </table>
            </Template>
            <ItemTemplate>
                <tr>
                    <td>
                        <ui:Literal Text="{Binding Key}" />
                    </td>
                    <td>
                        <ui:Literal text="{Binding Username}" />
                    </td>
                    <td>
                        <ui:Literal text="{Binding IsEnabled}" />
                    </td>
                    <td>
                        <ui:Link form:Href="Accounts.User.Edit">
                            <Parameters>
                                <ui:parameter name="UserKey" value="{Binding Key}" />
                            </Parameters>
                            Edit
                        </ui:Link>
                    </td>
                </tr>
            </ItemTemplate>
        </ui:UserList>

    </ui:TemplateContent>    
</ui:AdminLayout>
  